
<ion-content>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Order
    </ion-title>
  </ion-navbar>
<div padding id="page10" *ngIf="items">
  <ion-card id="order-card21"  *ngFor="let item of items">
    <ion-list>
      <ion-item color="none" id="order-list-item28">
         Product Id: {{item.productID}}{{item.product_photo}}
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
          <img [src]="item.product_photo"/>
      </div>
      <ion-list id="order-list5">
        <ion-item color="none" id="order-list-item76">
         Quantity: {{item.qty}}
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-card>
  </div>
</ion-content>