

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Profile
    </ion-title>
    <button id="submit" ion-button style="float:right" on-click="Edit()">Edit</button>
  </ion-navbar>
</ion-header>

<ion-content padding id="page1" *ngIf="res">

  <ion-card id="myProfile-card22">
    <ion-list>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
              <!-- <img [src]="res.profile_photo" *ngIf="res.profile_photo" style="display:block;width:100%;height:200;margin-left:auto;margin-right:auto;" /> -->
              <img [src]="res.profile_photo" *ngIf="res.profile_photo" style="display:block;width:100%;height:200;margin-left:auto;margin-right:auto;" />
            </div>

        </ion-list>

      

  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      {{res.fname}} {{res.lname}}
    </ion-item>


    <ion-item>
      <ion-icon name="ios-cog" item-start></ion-icon>
      <strong>Username:  </strong>{{res.user_name}}
    </ion-item>

    <ion-item>
      <ion-icon name="ios-home" item-start></ion-icon>
      {{res.address}} 
   </ion-item>

    <ion-item>
      <ion-icon name="ios-recording" item-start></ion-icon>
      {{res.tel_no}}
     </ion-item>

  </ion-list>
    
  </ion-card>
</ion-content>
<ion-footer>
    <ion-slides  autoplay="2000" loop="true" speed="2000" *ngIf="array">
        <ion-slide class="slide-img" *ngFor="let x of array">
             <img [src]="x"/>
       </ion-slide>
     </ion-slides>
   </ion-footer>