<!--
  Generated template for the TrackingStatusListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Request Status</ion-title>
  </ion-navbar>

</ion-header>

<!-- variables taken from res -->

<ion-content padding id="requeststatuspage" >
  <div id="requeststatus-container1">

    <div id="requeststatus-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Warranty Request ID :
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.request_id}}</ion-label>
      </ion-item>

    <div id="requeststatus-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Customer ID :
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.customer_id}}</ion-label>
      </ion-item>

    <div id="requeststatus-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Customer Name:
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.customer_name}}</ion-label>
      </ion-item>

      <div id="requeststatus-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Customer Telephone Number :
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.customer_telno}}</ion-label>
      </ion-item>

      <div id="requeststatus-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Warranty Request Status :
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.status}}</ion-label>
      </ion-item>

      <div id="requeststatus-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Additional Comments :
      </p>
    </div>

      <ion-item>
        <ion-label stacked fixed class='fixedLabel' *ngIf="res">{{res.comments}}</ion-label>
      </ion-item>

      <div class="spacer" style="width:300px;height:20px;" id="requeststatus-spacer1"></div>

      
  </div>
</ion-content>