
<ion-header>
  <ion-navbar>
    <ion-title>
      Previous Purchases
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7" *ngIf="res">

  <ion-list id="previousPurchases-list3">
    

      <ion-item color="none" on-click="goToOrder(order)" id="previousPurchases-list-item10" *ngFor="let order of res">
        <ion-thumbnail item-left>
            <!-- <img [src]="order.image"/> -->
            <img src="assets/img/images.png"  />
        </ion-thumbnail>
        <h2>
          {{order.orderID}}
        </h2>
      </ion-item>
      
    </ion-list>
  </ion-content>