<!--
  Generated template for the WarrantyDetailsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Warranty Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="warrantydetailspage">
  <div id="warrantydetails-container1">

    <div id="warrantydetails-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Product ID :
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.productID}}</ion-label>
      </ion-item>

    <div id="warrantydetails-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Product Name :
      </p>
    </div>

      <ion-item>
        <ion-label fixed class='fixedLabel' *ngIf="res">{{res.product_name}}</ion-label>
      </ion-item>

    <div id="warrantydetails-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Product Description :
      </p>
    </div>

      <ion-item>
        <ion-label stacked fixed class='fixedLabel' *ngIf="res">{{res.product_description}}</ion-label>
      </ion-item>

      <div id="warrantydetails-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Warranty Period (in weeks):
      </p>
    </div>

      <ion-item>
        <ion-label *ngIf="res">{{res.warranty_period}}</ion-label>
      </ion-item>

      <div id="warrantydetails-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Warranty Validity Conditions :
      </p>
    </div>

      <ion-item>
        <ion-label fixed class='fixedLabel' *ngIf="res">{{res.w_validity_conditions}}</ion-label>
      </ion-item>

      <div class="spacer" style="width:300px;height:10px;" id="warrantydetails-spacer1"></div>

      <button ion-button color="calm" block style="color:#000000;" on-click="checkWarrantyPeriod()">Check for warranty period </button>
      
  </div>
</ion-content>

